.category-products {
    padding: 20px;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-card {
    width: 300px;
    margin-bottom: 20px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
        
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 24px;
    margin-bottom: 5px;
}