.footer {
    background-color: #191717;
    color: #373333;
    padding: 20px;
}

.footer p {
    margin-bottom: 10px;
}

.footer .icon {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.footer a {
    color: #fff;
    margin-right: 10px;
}

.footer a:hover {
    text-decoration: none;
}