.carousel-item {
    height:450px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-caption h3,
.carousel-caption p {
    color: #e4e2e2;
    margin-bottom: 10px;
}

.carousel-caption .text-center {
    margin-top: 15px;
}

.carousel-caption .btn {
    margin-top: 10px;
}