.category-name {
    text-align: left;
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}