.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-card {
    width: 500px;
    max-width: 80%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    margin-top: 10px;
}